
.header .logo {
    width: 100px;
    height: 100px;
    animation: rotate 15s infinite linear;
}

.header .colored {
    color: black;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.header {
    grid-area: header;
    background-color: steelblue;
}
