.container {
  display: grid;
  width: 90vw;
  height: calc(100vh - 20px);
  grid-gap: 10px;
  grid-template-columns: minmax(120px, 20%) 1fr;
  grid-template-rows: 100px 1fr;
  grid-template-areas:
  "header header"
  "side main";
  overflow: auto;
  margin: 10px auto 10px auto;
}

.block-shadow {
  border-radius: 8px;
  box-shadow: 0 6px 10px rgba(0,0,0,0.2);
}
